/*Base*/
*{
	margin: 0 auto;
	padding: 0;
	box-sizing:border-box;
}
html{
	height:80%;
	width:95%;
}
/*Heading*/
h1,h2,h4{
	text-align:center;
	margin: 0;
}
h1{
	font-size:2.5em;
	font-family:'Raleway', sans-serif;
	padding-bottom: 10px;
	padding-top: 20px;
}	
h3{	
	font-size: 2em;
	font-family:'Slabo 27px', serif;
	text-decoration: none;
	padding-top: 10px;
}
header p{
	text-align: center;
	font-size: 1.7em;
	color:silver;
	margin-bottom: 2em;
	font-family: 'Raleway', sans-serif;
}
/*Links*/
a{
	margin:0 auto;
	text-decoration: none;
	font-size: 1.1em;
	color: #028bed;
	text-transform: uppercase;
	font-family: 'Muli', sans-serif;
	padding-bottom: 2px;
}
ul{
	vertical-align:center;
	text-decoration: none;
	display:inline;
}
/*Lists*/
li{
	border-bottom: 2px solid silver;
	padding-top: 5px;
	padding-bottom: 15px;
}
i{
	color:silver;
	float: right;
}
ul:nth-child(1){
	text-align: left;
	float: left;
	display: block;
	width: 30%;
}
ul:nth-child(2){
	text-align: left;
	float:middle;
	display: block;
	width: 30%;
}
ul:nth-child(3){
	text-align: left;
	float:right;
	display: block;
	width: 30%;
}